.cart-container {
    position: relative; 
    display: inline-block; 
}

.cart-icon {
    width: 35px; 
    height: auto; 
}

.notification-bubble {
    position: absolute; 
    bottom: -1px; 
    right: -10px; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 14px; 
}