.cart-container {
    position: relative; 
    display: inline-block; 
}

.cart-icon {
    width: 35px; 
    height: auto; 
}

.notification-bubble {
    position: absolute; 
    bottom: -1px; 
    right: -12px; 
    background-color: rgba(226, 6, 6, 0.87);
    color: white; 
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 13px; 
}